<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ContactEmail" value="raul.armas@bw2.com" />
        <add key="Domains" value="bw2mail.businesswideweb.net" />
        <add key="CertificateFileName" value="bw2mail.businesswideweb.net" />
        <add key="CertificatePassword" value="realmadrid123" />
    </appSettings>
</configuration>